<p class="text-center text-small text-muted">© Copyright 2017 - Crypto app</p>

<!-- JQuery JS-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Bootstrap Core JS -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>