body {
	background-color: #eee;
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 100%;
}
.text-small{
	font-size: small;
}
footer .navbar{
	margin-top: 70px;
	background-color: #eee;
}

/* Visualization */
path { 
  stroke: black;
  stroke-width: 1;
  fill: none;
}
circle { 
  stroke: purple;
  stroke-width: 1;
  fill: steelblue
}
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}